{% extends "::base.html.twig" %}

{% block title %}CodeCarBundle:Fabricante:index{% endblock %}

{% block body %}
    <h1>Fabricantes</h1>
    <a href="{{ path("fabricante_new") }}" class="btn btn-primary">Novo Fabricante</a>
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Fabricante</th>
                <th>Modelos</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for fabricante in fabricantes %}
                <tr>
                    <td>{{ fabricante.id}}</td>
                    <td>{{ fabricante.nome }}</td>
                    <td>
                        <ul>
                            {% for carro in fabricante.carros %}
                                <li>{{ carro.modelo }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path("fabricante_edit", {'id': fabricante.id})  }}" class="btn btn-primary">Editar</a>
                        <a href="{{ path("fabricante_delete", {'id': fabricante.id}) }}" class="btn btn-warning">Deletar</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
